extends layout

block content
    h1 CIHL LOGIN
    form#formAddUser(name="adduser",method="post",action="/home")
        input#inputUserName(type="text", placeholder="username", name="username")
        input#inputUserPass(type="password", placeholder="password", name="password")
        button#btnSubmit(type="submit") submit


