extends layout

block content
  .row#login-row
    .col-md-4.col-md-offset-4
      h1.text-center CIHL LOGIN
      form(name="addUser", role="form", method="post",action="/login")
        .form-group
          label.control-label(for='username') Username
          input.form-control(type="text", placeholder="Username", name="username", autofocus=true)
        .form-group
          label.control-label(for='password') Password
          input.form-control(type="password", placeholder="Password", name="password")
        .form-group.text-center
          button.btn.btn-primary#login(type="submit") Login
          a.btn.btn-primary(href="/register") Sign Up


