body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

textarea {
    resize: none;
}

.inlineBlock {
    display: inline-block;
}

.topAligned {
    vertical-align: top;
}

#login, #register{
	margin-right: 1em;
}

#login-row {
	margin-top: 10%;
}